<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ibyg">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login.FirstReady">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="google.com" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login.LoginActivity"
            android:parentActivityName=".Login.SignUpActivity">
        </activity>
        <activity android:name=".Login.SignUpActivity"></activity>
        <activity
            android:name=".Login.PasswordResetActivity"
            android:parentActivityName=".Login.LoginActivity">
        </activity>
        <activity android:name=".BasicActivity"></activity>
        <activity android:name=".Login.MemberInitActivity"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".ListingActivity"></activity>
        <activity android:name=".SetLocActivity"></activity>
        <activity android:name=".FindCafeActivity"></activity>
        <activity android:name=".AhpActivity"></activity>
        <activity android:name=".Review.ReviewActivity"></activity>
        <activity android:name=".Review.ReviewAdd"></activity>

        <activity android:name=".Notice.NoticeManagement"></activity>
        <activity android:name=".Notice.NoticeAdd"></activity>
        <activity android:name=".Notice.GalleryActivity"></activity>

        <activity android:name=".Manager.CafeManager"></activity>
        <activity android:name=".Manager.CafeActivity"></activity>
        <activity android:name=".Manager.CafeManager2"></activity>

        <activity android:name=".Qfreq.Qadd"></activity>
        <activity android:name=".Qna.QnaAdd"></activity>




    </application>

</manifest>